<!DOCTYPE html>
<html>
  <head>
    <title>Divvy Stations</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     

   <% stations = DivvyStation.all %>
   <% link = 'nothing' %>
   <% name = '' %>
    <% stations.each do |station| %>
      <% converted = params["id"].to_i %>
      <% if station["id"] == converted %>
      <%     name = station["name"] %>
      <%    lat = station["lat"] %>
      <%   long = station["lng"] %>
      <%    link = show_map(lat, long) %>
      <% end %>
    <%end %>

    <div class="container">
          
       <div class="page-header">
          <h1><a href="/stations">Divvy Stations</a>
            <small><%= name %></small>
          </h1>
      </div> 

      <img src="<%=link%>" >   

    </div>
 


  </body>


</html> 